<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Products</h1>
<table border="1">
  <tr>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Order Now</th>
  </tr>
  <th:block th:each="product : ${products}">
    <tr>
      <td th:text="${product.getName()}"></td>
      <td th:text="${product.getPrice()}"></td>
      <td><a th:href="@{/shoppingcart/ordernow/__${product.id}__}">OrderNow</a></td>
    </tr>
  </th:block>
</table>
</body>
</html>