<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Products</h1>
<table border="1">
  <tr>
    <th>Transaction ID</th>
    <th>Tên Khách hàng</th>
    <th>Loại dịch vụ</th>
    <th>Ngày giao dịch</th>

    <th>Đơn giá (triệu đồng/m2)</th>
    <th>Diện tích (m2)</th>
    <th></th>


  </tr>
  <th:block th:each="transaction : ${transactions}">
    <tr>
      <td th:text="${transaction.getId()}"></td>
      <td th:text="${transaction.getCustomer().id}"></td>
      <td th:text="${transaction.getServicetype()}"></td>
      <td th:text="${transaction.getDate()}"></td>
      <td th:text="${transaction.getArea()}"></td>
      <td th:text="${transaction.getPrice()}"></td>
      <td><a th:href="@{/transactions}">Chi tiết</a></td>


<!--      <td><a th:href="@{/shoppingcart/ordernow/__${transaction.id}__}">OrderNow</a></td>-->
    </tr>
  </th:block>

</table>
<th:block>
<!--  <button th:action="">Tạo mới</button>-->
  <a href="transactions/create" class="btn btn-success">Tạo mới</a>
</th:block>
</body>
</html>